@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
}

.my-3 {
  margin: 15px 0px;
}
.my-2 {
  margin: 10px 0px;
}
.mr-2 {
  margin-right: 10px;
}
.ml-2 {
  margin-left: 10px;
}
.d-none {
  display: none;
}
h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.border {
  border: 1px solid #d2d2d2;
  padding: 10px;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 700px;
}
header {
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #eee;
}
.form {
  width: 100%;
}
.input-group {
  display: flex;
  justify-content: space-between;
}
input[type='text'] {
  width: 100%;
  font: 15px/24px 'Poppins', sans-serif;
  padding: 7px;
  box-sizing: border-box;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}
input[type='text']:focus {
  outline: none;
}
input[type='text']::placeholder {
  color: #999;
}

select {
  width: 100%;
  font: 15px/24px 'Poppins', sans-serif;
  padding: 7px;
  box-sizing: border-box;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  flex-shrink: 0;
  color: #999;
  border: 1px solid #999;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.cm-focused {
  outline: none !important;
}
